$h1FontSize: 1.85rem;
$white: #fff;
$darkGray: #37424C;
$dark: #37424C;
$red: #dc222a;
$blue: #2AB7D6;
$green: #8DC21F;
$lightGreen: #36f88d;
$defaultGray: #999;
$landGray: #C9CCCF;
$lightGray: #EEEFEF;
$riceWhite: #f9f9f9;
$gray: #d9d9d9;
$carrotOrange: #F35915;
$yellow: #F5E800;
$manatee: #92989E;
$bgColor_lv1: linear-gradient(to right, #EB7428, #DC222A);
$bgColor_lv2: #1B2733;
$chatList_bg01 :linear-gradient(to bottom, #ffdb00 0%, #f26900 100%);
$chatList_bg02 :linear-gradient(to bottom, #47b4ff 0%, #1e75ff 100%);
$chatList_bg03 :linear-gradient(to bottom, #ff6536 0%, #ff2703 100%);
//screen
$wideScreen: "only screen and(min-width: 1920px) and (min-height: 1024px) and (orientation: landscape)";
$largeScreen: "only screen and(max-width: 1920px) and(min-width: 1680px) and (max-height: 1080px) and (min-height: 1050px) and (orientation: landscape)";
//main page