                @import "_reset.scss";
                @import "_fontIcon.scss";
                @import "_variable.scss";
                @import "_flexbox.scss";
                @import "_dataAttribute.scss";
                @import "_mediaQueries.scss";
                html {
                    touch-action: manipulation;
                    height: 100%;
                    /* header menu圖片設定 */
                    $headMenu: 'top_menu_01', 'top_menu_02', 'top_menu_03', 'top_menu_04', 'top_menu_05';
                    @each $currentPic in $headMenu {
                        .#{$currentPic} {
                            background: url('../img/#{$currentPic}.png') no-repeat center;
                        }
                    }
                    /* footer menu圖片設定 */
                    $footMenu: 'bottom_menu_01',
                    'bottom_menu_02',
                    'bottom_menu_03',
                    'bottom_menu_04',
                    'bottom_menu_05',
                    'bottom_menu_06';
                    @each $currentPic in $footMenu {
                        .#{$currentPic} {
                            background: url('../img/#{$currentPic}.png') no-repeat center;
                        }
                    }
                    body {
                        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        touch-action: manipulation;
                        height: 100%;
                        .main-wrap {
                            position: absolute;
                            background: url('../img/bg.jpg') no-repeat;
                            // background: url('../img/lobby_工作區域\ 1.png\ 的副本.png') no-repeat;
                            background-size: 100% 100%;
                            .header {
                                height: 180px;
                                .user {
                                    width: 400px;
                                    height: 94px;
                                    background: url('../img/user_status_bg.png') no-repeat;
                                    background-size: contain;
                                }
                                .amount {
                                    width: 230px;
                                    height: 44px;
                                    background-color: #003C69;
                                    border: 1px solid #055A96;
                                    border-radius: 15px;
                                }
                                .header-r {
                                    width: auto;
                                    a {
                                        width: 160px;
                                        height: 185px;
                                        background-size: contain;
                                        position: relative;
                                        color: #ffffff;
                                        display: block;
                                        .mark {
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            background-color: #CB0F03;
                                            border: 3px solid #FF4E40;
                                            position: absolute;
                                            font-size: 22px;
                                            font-weight: bold;
                                            line-height: 30px;
                                            text-align: center;
                                            right: 10px;
                                            bottom: 40px;
                                        }
                                    }
                                }
                            }
                            .container {
                                flex: 1;
                                padding: 0 30px;
                                .giftList {
                                    width: 400px;
                                    margin-top: -60px;
                                    a {
                                        width: 380px;
                                        background: url('../img/quest_bg.png') no-repeat center;
                                        background-size: contain;
                                        display: block;
                                    }
                                }
                                .mainGame {
                                    width: 1790px;
                                    a {
                                        width: 460px;
                                        display: block;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .footer {
                                height: 84px;
                                background-color: #07222D;
                                .chatroom {
                                    width: 550px;
                                    height: 220px;
                                    position: absolute;
                                    background-color: #071824;
                                    border: 1px solid #063554;
                                    left: 0px;
                                    bottom: 0px;
                                }
                                .footMenu {
                                    a {
                                        width: 178px;
                                        height: 64px;
                                        background-size: contain;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }